package ${currentPackage};

import org.springframework.web.bind.annotation.*;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;
import ${JavaServiceImport};
import ${JavaEntityImport};
import ${JavaVOImport};
import org.springframework.http.ResponseEntity;

import javax.annotation.Resource;

/**
 * ${table.name}
 *
 * @author <a href='https://github.com/marcho-code/orm-generator.git'>orm-generator</>
 * @since ${date}
 */
@RestController
@RequestMapping("/${data.requestName}")
public class ${currentClass} {

    @Resource
    private ${JavaService} service;

    @GetMapping("/{${primaryKey.javaColumn}}")
    public ResponseEntity<${JavaEntity}> getOne(@PathVariable("${primaryKey.javaColumn}") ${primaryKey.javaType} ${primaryKey.javaColumn}) {

        ${JavaEntity} result = service.selectByPrimaryKey(${primaryKey.javaColumn});

        return ResponseEntity.ok(result);
    }

    @PostMapping("/")
    public ResponseEntity<Boolean> save(@RequestBody ${JavaVO} vo) {

        boolean isSave = service.insert(vo);

        return ResponseEntity.ok(isSave);
    }


    @PutMapping("/{${primaryKey.javaColumn}}")
    public ResponseEntity<Boolean> update(@PathVariable("${primaryKey.javaColumn}") ${primaryKey.javaType} ${primaryKey.javaColumn}, @RequestBody ${JavaVO} vo) {

        boolean isUpdate = service.updateByPrimaryKey(vo,id);

        return ResponseEntity.ok(isUpdate);
    }

    @DeleteMapping("/{${primaryKey.javaColumn}}")
    public ResponseEntity<Boolean> delete(@PathVariable("${primaryKey.javaColumn}") ${primaryKey.javaType} ${primaryKey.javaColumn}) {

        boolean isDelete = service.deleteByPrimaryKey(id);

        return ResponseEntity.ok(isDelete);
    }

}
