package ${currentPackage};

import ${JavaEntityImport};

/**
 * ${table.name}
 *
 * @author <a href='https://github.com/marcho-code/orm-generator'>orm-generator</>
 * @since ${date}
 */
public interface ${currentClass} {

    ${JavaEntity} selectByPrimaryKey(Integer ${primaryKey.javaColumn});

    int insert(${JavaEntity} entity);

    int updateByPrimaryKey(${JavaEntity} entity);

    int deleteByPrimaryKey(Integer ${primaryKey.javaColumn});
}