<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${JavaMapperImport}">

    <resultMap type="${JavaEntityImport}" id="ResultMap">
#foreach ($column in $columns)
#if($column.columnKey == "PRI")
        <id property="${column.javaColumn}" column="${column.column}"></id>
#else
        <result property="${column.javaColumn}" column="${column.column}"/>
#end
#end
    </resultMap>

    <sql id="Base_Column_List">
        #foreach ($col in $columns)`$col.column`#if($foreach.hasNext),#end#end

    </sql>
    
    <select id="selectByPrimaryKey" resultType="${JavaEntityImport}">
        SELECT <include refid="Base_Column_List"/> FROM `${table.name}` WHERE `${primaryKey.column}` = #{${primaryKey.javaColumn}} LIMIT 1
    </select>

    <insert id="insert">
        INSERT INTO `${table.name}` (#foreach ($col in $columns)`$col.column`#if($foreach.hasNext),#end#end) VALUES (#foreach ($col in $columns)#{$col.javaColumn}#if($foreach.hasNext),#end#end)
    </insert>


    <update id="updateByPrimaryKey">
        UPDATE `${table.name}`
        SET #foreach ($col in $columns)`$col.column` = #{$col.javaColumn}#if($foreach.hasNext),#end#end

        WHERE `${primaryKey.column}` = #{${primaryKey.javaColumn}} LIMIT 1
    </update>

    <delete id="deleteByPrimaryKey">
        DELETE FROM `${table.name}`
        WHERE `${primaryKey.column}` = #{${primaryKey.javaColumn}} LIMIT 1
    </delete>

</mapper>