<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.chaobei.generate.mapper.GenerateMapper">

    <select id="selectTable" resultType="xyz.chaobei.generate.entity.TableEntity">
        SELECT
            table_name `name`,
            ENGINE `engine`,
            create_time createTime
        FROM
            information_schema.TABLES
        WHERE
            table_schema = ( SELECT DATABASE () )
            AND table_name = #{name}
    </select>

    <select id="selectColumns" resultType="xyz.chaobei.generate.entity.ColumnEntity">
        SELECT
            column_name `column`,
            data_type dataType,
            column_comment columnComment,
            column_key columnKey,
            IS_NULLABLE isNullable
        FROM
            information_schema.COLUMNS
        WHERE
            table_name = #{name}
            AND table_schema = ( SELECT DATABASE () )
        ORDER BY
            ordinal_position
    </select>
    <select id="tableList" resultType="xyz.chaobei.generate.entity.TableEntity">
        SELECT
            table_name `name`,
            ENGINE `engine`,
            create_time createTime
        FROM
            information_schema.TABLES
        WHERE
            table_schema = ( SELECT DATABASE () )
    </select>
</mapper>
